<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eat O’Café</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/menu.css">

  <link href='https://fonts.googleapis.com/css?family=Berkshire Swash' rel='stylesheet'>

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


  <script>
    AOS.init();
  </script>

</head>

<body>


  


  <img class="bg-image d-none d-sm-flex" src="img/bg.webp" alt="">


  <nav class="navbar">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggler" data-toggle="open-navbar1">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a href="#">
          <img src="img/logo.png" alt="" class="img-fluid" width="170em">
        </a>
      </div>

      <div class="navbar-menu" id="open-navbar1">
        <ul class="navbar-nav">
        
          <li class="sign-in-button "><a href="/" class="text-white">Back</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row d-flex justify-content-center">

    <% for(var i=0; i<result.length; i++){%>
         
         

          <div class=" col-lg-3 menu-card text-center " >

            <img class="card-img" src=menuImage/<%= result[i].productName %>.png alt="">
      
            <div class="card-details card-block">
              <h6 class="text-center pb-2" style="font-weight: 700;"><%= result[i].productName %></h6>
              <p class="text-center py-1" style=" font-size: 11px;"><%= result[i].description %></p>
      
                <p  class="text-center pb-2" style="font-weight: 700; "><%= result[i].price %></p>
      
                
            </div>
          </div>

      <% } %>

  </div>
    

    


  









  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      offset: 400,
      duration: 1400
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>