<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/Chef.css">
    

</head>

<body>

    <center><h1>WAITER DASHBOARD</h1></center>


    <div class="container">
        <div class="row" style="flex-wrap:wrap ; display:flex; align-items: center; justify-content: center;">

            <% for(var i=0; i<result.length; i++){%>

            <form class="col form" action="/served" method="POST">
                <div class="form__field">

                    <h3>Food: <%= result[i].food %></h3>
                    
                    <p>Table: <%= result[i].tables %></p>
                    <p>Ordered by: <%= result[i].username %> </p>
                    
                    <input style="visibility: hidden;" type="text" value=" <%= result[i].foodID %>" name="foodID">
                    

                </div>
                <button class="button" type="submit"> Served</button>
            </form>

            <% } %>

           

           
        </div>
    </div>



</body>

</html>